footer {
  animation-name: onLoadEffect-fadein;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
  opacity: 0;

  transform: rotate(-90deg);
  position: fixed;
  font-size: 0.6em;
  color: #adadad;
  bottom: 65px;
  left: -50px;

  .footer-links {
    position: absolute;
    width: 100px;
    left: 155px;
    bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    transform: none;
    bottom: 40px;
    left: 40px;

    .footer-links {
      position: static;
    }
  }
}