<!-- identical to HomeComponent but contains landing animations -->
<div class="nav-wrapper with-animation">
  <ul class="nav with-animation">
    <li class="nav-link"><a routerLink="development"><h1>development</h1></a></li>
    <li class="nav-link"><a routerLink="design"><h1>design</h1></a></li>
    <li class="nav-link"><a routerLink="illustration"><h1>illustration</h1></a></li>
  </ul>
</div>

<ul class="nav-bottom with-animation">
  <li class="nav-link"><a [routerLink]="['/', 'whoami']"><h2>whoami</h2></a></li>
</ul>