<div class="whoami-component-wrapper" [@routerTransition]="">

  <div class="email-background" *ngIf="showEmailOptions" (click)="toggleEmailOptions()"></div>

  <div class="nav-wrapper">
    <ul class="nav">
      <li class="nav-link"><a [routerLink]="['/', 'home']"><h2>works</h2></a></li>
      <li class="nav-link"><a [routerLink]="['/', 'whoami', 'developer']"><h1>developer</h1></a></li>
      <li class="nav-link"><a [routerLink]="['/', 'whoami', 'designer']"><h1>designer</h1></a></li>
    </ul>
  </div>

  <ul class="nav-bottom">
    <li class="nav-link" (click)="toggleEmailOptions()"><h2>email</h2></li>
  </ul>

  <div class="email-options" *ngIf="showEmailOptions" [@fadeAnimation]="">
    <a href="mailto:yunha.tonik.seo@gmail.com">open mail app</a>
    <a ngxClipboard [cbContent]="'yunha.tonik.seo@gmail.com'" (click)="copiedEmail = true;">copy email</a>
    <p class="email-copy-success" *ngIf="copiedEmail">email copied</p>
  </div>
</div>