.email-options {
  font-family: 'Lora', serif;
  padding-left: 60px;
  position: relative;
  margin-top: -20px;
  font-weight: 700;
  width: 120px;
  z-index: 11;
  opacity: 1;

  a {
    line-height: 30px;
    display: block;
  }
}

.email-copy-success {
  background: #eeeeee;
  position: relative;
  padding: 5px 10px;
  color: #adadad;
  z-index: 11;
}

.email-background {
  background: #ffffff;
  position: fixed;
  height: 100vh;
  opacity: 0.8;
  width: 100vw;
  z-index: 10;
  left: 0;
  top: 0;
}