// ----------------------------------------------------------
// project as shown on the home and the landing pages

.project-group {
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: 20px;
  list-style: none;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    white-space: normal;
    overflow-x: initial;
  }

  .project-group-list {
    margin: 10px 15px 10px 0;
    display: inline-block;
    vertical-align: top;
    width: 80%;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% / 3) - 25px);
    }

    .project-group-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: $gray;
      box-shadow: 0;
      height: 180px;
      width: 100%;

      &:hover {
        // top shadow is a bit darker
        //box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.1), 0px 1px 18px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
      }

      @media screen and (min-width: 1200px) {
        height: 225px;
      }
    }
    .project-group-title {
      font-size: 1em;
      color: $red;

      @media screen and (min-width: 1200px) {
        font-size: 1.25em;
      }
    }
  }
}


// ----------------------------------------------------------
// ----------------------------------------------------------

.project {
  background: #ffffff;
  padding-left: 20px;

  @media screen and (min-width: 1200px) {
    width: 50%;
    float: right;
  }

  .image-main {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: $gray;
    height: 225px;
    width: 100%;
    left: 0;

    @media screen and (min-width: 1200px) {
      background-position: center;
      height: 300px;
    }
  }

  .title {
    font-size: $text-medium;
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: $text-small;
    color: $text-gray;
  }

  .body {
    line-height: 150%;
    margin: 40px 0;

    .body-label {
      margin-right: 15px;
      font-weight: 700;
      display: block;
      width: 60px;
      float: left;

      &.one-item { margin-bottom: 20px; }
      &.two-item { margin-bottom: 50px; }
      &.three-item { margin-bottom: 70px; }
      &.four-item { margin-bottom: 90px; }
      &.five-item { margin-bottom: 110px; }
    }
    a { color: $text-black }
  }

  .image-half {
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    height: 400px;
    float: left;
    width: 50%;
  }
  .image-full {
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    height: 250px;
  }
}