.nav {
  float: left;
}

.whoami-designer-container {
  padding-bottom: 35px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;

  @media screen and (min-width: 1200px) {
    position: relative;
    float: right;
    width: 50%;
  }

  .nav {
    padding: 20px 0 0 35px;

    @media screen and (min-width: 1200px) {
      position: absolute;
      padding-left: 50px;
    }

    img {
      width: 35px;
    }
  }

  .comic {
    @media screen and (min-width: 1200px) {
      padding-top: 70px;
    }

    img {
      width: 100%;
    }

    .comic-links {
      justify-content: space-around;
      padding: 0 50px;
      display: flex;

      a {
        float: left;
        width: 50%;
        &:nth-child(2) { width: 47%; } // unique styling because I messed up img cropping
      }
    }
  }
}