<div class="designer-component-wrapper" [@routerTransition]="">
    <ul class="nav">
        <li class="nav-link"><a [routerLink]="['/', 'whoami']"><h3>whoami</h3></a></li>
    </ul>

    <div class="whoami-designer-container">
        <ul class="nav">
            <li class="nav-link">
                <a [routerLink]="['/', 'whoami']"><img src="../../assets/img/designer-button-close.png" alt="Close button"></a>
            </li>
        </ul>

        <div class="comic">
            <img src="../../assets/img/designer-comic.jpg" alt="
                I am Yun Ha Seo, a Developer and a Graphic Designer. Currently, I study Computer Information Technology
                and Art Studio at Minnesota State University, Mankato. I am a Korean who was raised in the Northern Mariana
                Islands. I also am an avid player of League of Legends!
            ">

            <div class="comic-links">
                <a href="http://www.webtoons.com/en/challenge/lost-crayons/list?title_no=79177&page=1" target="_blank">
                    <img src="../../assets/img/designer-button-webtoon.png" alt="Button link for Naver Webtoon Lost-Crayons">
                </a>
                <a href="https://www.instagram.com/lostcrayons/" target="_blank">
                    <img src="../../assets/img/designer-button-ig.png" alt="Button link for Instagram Lost-Crayons">
                </a>
            </div>
        </div>
    </div>
</div>